---
title: Kihong Seong
---
<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
  <!-- head.html contains codes for css import 
  styles.css in assets/css imports all the necessary scss codes-->
</head>

<!-- site means config.yml file, so site.plainwhite.name is Kihong Seong -->
<!-- use date_format in config.yml (probably?) -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<body>
  <main class="container" id="top">
    <section class='about'>
      <div class="portfolio-img-wrapper">
        <a href="/">
          <img class="portfolio_img" src="{{ '/assets/portfolio.jpg' | relative_url }}" alt="{{ site.plainwhite.name }}">
        </a>
      </div>

      <h2> Kihong Seong 성기홍 </h2>
      
      <!-- config.yml plainwhite tagline "MSc Student ..." -->
      <p class="tagline">{{ site.plainwhite.tagline }}</p>
      <div class="affiliation-wrapper">
        <!-- affil has name and link variable in config.yml -->
        {% for affil in site.plainwhite.affiliations %}
        <div class="affiliation">
          <a target="_blank" href="{{ affil.link}}">{{ affil.name}}</a>
        </div>
        {% endfor %}
      </div>

      <ul class="social">
        <a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{site.plainwhite.social_links.twitter}}" target="_blank"><li><i class="icon-twitter-squared"></i></li></a>
      </ul>
    </section>
    <section class="content">
      <div class="intro">
        <p> <a href="mailto:kev94yo@snu.ac.kr">email</a> / <a href="{{ '/assets/cv.pdf' | absolute_url }}" target="_blank">resume</a> / <a href="{{ '/blog.html' | absolute_url}}">blog</a></p>
        <div class="intro-text">
          I'm a postgraduate student in Data Science at the Seoul National University's Graduate School of Data Science.
          Currently, I'm affiliated with the Ambient NLP Lab at SNU GSDS, led by <a href="https://sites.google.com/snu.ac.kr/gsds-nlp/members?authuser=0#h.poru2jts3vrp" target="_blank">Prof. Hyopil Shin</a>

        </div>
        <div class="intro-text">
          My research topic is on recommender systems with natural language processing (NLP) architectures. 
          I believe that recommender systems can bring attention to various contents in the online market and help preserve diversity.
          In the end, I wish to contribute to an environment where the artists receive the credit they deserve and the consumers experience enhanced, personalized services.
        </div>
      </div>

      <div id="news">
        <h3>News</h3>
        <ul>
          <li>
            2021/3: My data visualization project, "Music-Circles" received media attendion and was published by TechXplore
          </li>
          <li>
            2020/7: I joined the Ambient NLP Lab in SNU GSDS, led by <a href="https://sites.google.com/snu.ac.kr/gsds-nlp/members?authuser=0#h.poru2jts3vrp" target="_blank">Prof. Hyopil Shin</a>
          </li>
          <li>
            2020/6: Maeil newspaper covered a project I contributed in, "Coral-mask"
          </li>
          <li>
            2020/3: I am starting my master's degree in data science at SNU GSDS
          </li>
        </ul>
      </div>
      
    </section>
  </main>
</body>
</html>