---
title: Kihong Seong
---
<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
  <!-- head.html contains codes for css import 
  styles.css in assets/css imports all the necessary scss codes-->
</head>

<!-- site means config.yml file, so site.plainwhite.name is Kihong Seong -->
<!-- use date_format in config.yml (probably?) -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<body>
  <main class="container" id="top">
    <section class='about'>
      <div class="portfolio-img-wrapper">
        <a href="/">
          <img class="portfolio_img" src="{{ '/assets/portfolio.jpg' | relative_url }}" alt="{{ site.plainwhite.name }}">
        </a>
      </div>

      <h2> Kihong Seong 성기홍 </h2>
      
      <!-- config.yml plainwhite tagline "MSc Student ..." -->
      <p class="tagline">{{ site.plainwhite.tagline }}</p>
      <div class="affiliation-wrapper">
        <!-- affil has name and link variable in config.yml -->
        {% for affil in site.plainwhite.affiliations %}
        <div class="affiliation">
          <a target="_blank" href="{{ affil.link}}">{{ affil.name}}</a>
        </div>
        {% endfor %}
      </div>

      <ul class="social">
        <a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{site.plainwhite.social_links.twitter}}" target="_blank"><li><i class="icon-twitter-squared"></i></li></a>
      </ul>
    </section>
  </main>
</body>
</html>